<footer class="footer-distributed">
  <div class="footer-left">
      <img width="252px" height="94px" src="https://phongtro123.com/wp-content/themes/phongtro123/img/logo_tet.png" alt="">
      <p class="footer-links">
          <a href="#">Home</a>
          ·
          <a href="#">Blog</a>
          ·
          <a href="#">Pricing</a>
          ·
          <a href="#">About</a>
          ·
          <a href="#">Faq</a>
          ·
          <a href="#">Contact</a>
      </p>
      <p class="footer-company-name">Company Name &copy; 2015</p>
      <div class="footer-icons">
          <a href="#">
              <i class="fa fa-facebook"></i>
          </a>
          <a href="#">
              <i class="fa fa-twitter"></i>
          </a>
          <a href="#">
              <i class="fa fa-linkedin"></i>
          </a>
          <a href="#">
              <i class="fa fa-github"></i>
          </a>
      </div>
  </div>
  <div class="footer-right">
      <p>Contact Us</p>
      <form action="#" method="post" [formGroup]="form">
          <input type="text" name="email" placeholder="Email" formControlName="email"/>
          <textarea name="message" placeholder="Message" formControlName="message"></textarea>
          <button (click)="Contact()">Send</button>
      </form>
  </div>
</footer>