<!-- VÙNG MENU -->
<div id="menu">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img class="logo_home" src="../../../assets/image/home.png" alt="">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li  routerLinkActive="active" [routerLink]="['/client']">
                    <a>Cho thuê phòng</a>
                </li>
                <li>
                    <a>Nhà cho thuê</a>
                </li>
                <li routerLinkActive="active" [routerLink]="['/client/postnews']">
                    <a >Đăng tin</a>
                </li>
            </ul>
            
        </div>
    </nav>
</div>