#header-login-register{
    height: 56px;
    background: #F4F4F2;
    line-height: 56px;
    .auth{
        text-align: right;
        .login{
            margin-right: 10px;
        }
    }
}
.dropdown-menu{
   
}
ul{
    li{
        i{
            margin-right: 5px !important;
        }
    }
}

