agm-map{
    height: 600px;
    width: 700px;
}
.info{
    border: 1px solid #aaa;
    border-top: 0px;
    margin-bottom: 40px;
    .info-basic, {
        h4{
            background: #044A84;
            text-transform: uppercase;
            padding: 7px;
            margin: 0px;
            color: #fff;
        }
    }
    
    .info-enter{
        form{
            padding: 12px !important;
            display: inline-block;
            .col-md-6{
                padding: 0px;
                width: 45%;
            }
        }
    }
}
.info-basic-access{

}
.clr{
    clear: both;
}
.tutorial-postnew{
    h4{
        background: #044A84;
        text-transform: uppercase;
        padding: 7px;
        margin: 0px;
        font-size: 14px;
        color: #fff;
    }
   
   
}
.info-tutorial{
    border: 1px solid #aaa;
    padding: 7px 3px;
    box-shadow: 1px 1px 50px 0 rgba(0,0,0,.29);
    ul{
        padding: 10px !important;
        li{
            list-style: inside;
            margin-bottom: 7px;
            line-height: 22px;
        }
    }
}
textarea { 
    /* will prevent resizing horizontally */
    width: 100%;
 }
 .require{
    color: red;
 }
 .show-notication{
    background-color: #dff0d8;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0px;
 }
 .title-image{
     text-align: center;
 }
 .input-file{
    width: 100%;
    height: 200px;
    background: url("../../../assets/image/add_photo-128.png") center no-repeat #fff;
    background-size: 110px 110px;
    display: inline-block;
    text-indent: -999999px;
    cursor: pointer;
    color: transparent;
    border: 4px dashed #ddd;
    padding: 20px;
    margin-bottom: 25px;
 }
 .btn-post{
     text-transform: uppercase;
     font-size: 15px;
     padding: 6px 60px;
 }