agm-map{
    height: 600px;
    width: 700px;
}
.hot{
    color: red;
    font-weight: 900;
    font-size: 16px;
}
.tab{
    background: #f3f3f3;
    ul{
        padding: 0px;
        li{
            float: left;
            list-style: none;
            margin-right: 10px;
            padding: 10px 10px;
            cursor: pointer;
            text-transform: uppercase;
            &:hover{
                background: red;
                a{
                    color: #fff;
                }
            }
            a{
                text-decoration: none;
                color: #666;
                font-size: 14px;
            }
        }
    }
}
.clr{
    clear: both;
}

// table
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 20px 0px;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.title{
    background: #f3f3f3;
    color: #000;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}
#description{
    padding: 20px;
    border: 1px solid #ddd;
}